h1{
    text-align: center;
}

.links{
    text-align: center;
}

.loader{
    display: block;
    margin: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-align: center;
}